.elaqe_main_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    .elaqe_main_container_about{
        width: 588px;
        h2{
            font-size: 30px;
            font-weight: 600;
        }
        .elaqe_main_container_input{
            margin-top: 45px;
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: #fff;
            padding: 15px 25px 25px 10px;
            border-radius: 5px;
            margin-top: 45px;
            input{
                border: 1px solid #B1B1B1;
                margin-top: 30px;
                padding: 10px;
                border-radius: 8px;
                outline: none;
            }
            textarea{
                margin-top: 30px;
                border:1px solid #B1B1B1;
                padding: 10px;
                border-radius: 8px;
                outline: none;
            }

        }

            button{
                margin-top: 25px;
                width: 180px;
                height: 56px;
                border: none;
                background-color: $yellow;
                border-radius: 17px;
                font-size: 20px;
                font-weight: 500;
    
            }


    }
}

.elaqe_main_container__left{
    max-width: 588px;
}

.elaqe_main_container__right{
    max-width: 534px;
    height: 716px;
    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.elaqe_main_container_about__btn{
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
    margin-top: 25px;
}