$black: #000;
$yellow: #f3ea00;
$sea: #67DDFB;
$fiol: #D3C8E1;
$grey:#656565;

$yellowHover: #ded724;

$header-gradient: linear-gradient(
  300deg,
  #67ddfb 13.54%,
  #d5c8e1 76.49%,
  #d3c8e1 100%
);
$body-gradient: linear-gradient(
  180deg,
  #67ddfb 13.54%,
  #d5c8e1 76.49%,
  #d3c8e1 100%
);
